<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @publication_status.name %>
</p>


<%= link_to 'Edit', edit_publication_status_path(@publication_status) %> |
<%= link_to 'Back', publication_statuses_path %>
